{{#partial "content"}}
    <div class="well">
        <h4>Roles and Responsibility</h4>
        <p>This is a crucial aspect of any job/placement.</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th>Responsibility</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Developer</td>
                            <td>
                                > Coding<br>
                                > Planning
                            </td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}